{% extends 'base.html.twig' %}
 {% block body %}
{{ include('pages/nav-links.html.twig') }}
<div class="page-heading">
			<div class="container">
				<h2>PROGRAMS OFFERED</h2>
			</div>
		</div>
		<!-- Popular courses End -->
		<div class="learn-courses">
			<div class="container-fluid">
				<div class="courses">
					<div class="owl-one owl-carousel">

					<div class="box-wrap" itemprop="event" itemscope itemtype="http://schema.org/Course">
							<div class="img-wrap" itemprop="image"><img src="{{asset('images/course-pic.jpg')}}" alt="courses picture"></div>
								<a href="course-listing.php" class="learn-desining-banner" itemprop="name">Computer Studies >>></a>
							<div class="box-body" itemprop="description">
								<p>Study the design, development and analysis of software and hardware used to solve problems in a variety of business, scientific and social contexts</p>
								<section itemprop="time">
									<p><span>Duration:</span> 3 Years</p>
									<p><span>Class Time:</span> 07:30am-12am / 1pm-5:30pm</p>
									<p><span>Fee:</span> K4,000</p>
								</section>
							</div>
						</div>
						
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{asset('images/course-pic.jpg')}}" alt="courses picture"></div>
								<a href="course-listing.php" class="learn-desining-banner" itemprop="name">Electrical Engineering >>></a>
							<div class="box-body" itemprop="description">
								<p> Acquire skills in the generation, transmission, distribution and utilization of electricity as well as the design of a range of related devices.</p>
								<section itemprop="time">
									<p><span>Duration:</span> 2 Years</p>
									<p><span>Class Time:</span> 07:30am-12am / 1pm-5:30pm</p>
									<p><span>Fee:</span> 4,000</p>
								</section>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{asset('images/course-pic.jpg')}}" alt="courses picture"></div>
								<a href="course-listing.php" class="learn-desining-banner" itemprop="name">General Agriculture >>></a>
							<div class="box-body" itemprop="description">
								<p>Agriculture can totally eradicate poverty and needs vibrant and passionate youths to be part of the sector</p>
								<section itemprop="time">
									<p><span>Duration:</span> 2 Years</p>
									<p><span>Class Time:</span> 07:30am-12am / 1pm-5:30pm</p>
									<p><span>Fee:</span> 4,000</p>
								</section>
							</div>
						</div>

							<div class="box-wrap" itemprop="event" itemscope itemtype="http://schema.org/Course">
							<div class="img-wrap" itemprop="image"><img src="{{asset('images/course-pic.jpg')}}" alt="courses picture"></div>
								<a href="course-listing.php" class="learn-desining-banner" itemprop="name">Construction >>></a>
							<div class="box-body" itemprop="description">
								<p>Study the design, development and analysis of software and hardware used to solve problems in a variety of business, scientific and social contexts</p>
								<section itemprop="time">
									<p><span>Duration:</span> 3 Years</p>
									<p><span>Class Time:</span> 07:30am-12am / 1pm-5:30pm</p>
									<p><span>Fee:</span> K4,000</p>
								</section>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{asset('images/course-pic.jpg')}}" alt="courses picture"></div>
								<a href="course-listing.php" class="learn-desining-banner" itemprop="name">Automotive Mechanics >>></a>
							<div class="box-body" itemprop="description">
								<p>A successful Auto Mechanic will be detail-oriented, have extensive mechanical knowledge and display great physical dexterity.</p>
								<section itemprop="time">
									<p><span>Duration:</span> 2 Years</p>
									<p><span>Class Time:</span>07:30am-12am / 1pm-5:30pm</p>
									<p><span>Fee:</span> 4,000</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+260-977-370-130"><i class="fas fa-phone"></i> +260-977-370-130</a></p>
			</div>
		</section>
			{{ include('pages/footer.html.twig') }}

{% endblock %}