{% extends 'base.html.twig' %}
{% block body %}
{{ include('pages/nav-links.html.twig') }}
<!-- Start of Events section -->
		<section class="page-heading">
			<div class="container">
				<h2>Upcomming events</h2>
			</div>
		</section>
		<section class="events-section" itemprop="event" itemscope itemtype=" http://schema.org/Event">
			<div class="container">
			{% for event in events %}
				<div class="event-wrap">
					<div class="img-wrap" itemprop="image">
						<img src="{{ asset('images/back.jpg') }}" alt="event images">
					</div>
					<div class="details">
						<a href=""><h3 itemprop="name"> </h3>{{event.getEventName}}</a>
						<p itemprop="description"> 
						
						
						</p>

						<h5 itemprop="startDate"><i class="far fa-clock"></i>       </h5>
						<h5 itemprop="location"><i class="fas fa-map-marker-alt"></i> {{event.getEventLocation}}</h5>
					</div>
				</div>
				{% else %}

			{% endfor %}
			</div>
		</section>
		<!-- End of Events section -->
{{ include('pages/footer.html.twig') }}
{% endblock %}