{% extends 'base.html.twig' %}
{% block body %}
 <div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
{{ include('pages/nav-links.html.twig') }}
		<!-- Header Close -->
		<div class="banner">
			<div class="owl-four owl-carousel" itemprop="image">
				<img src="{{ asset('images/back.jpg') }}" alt="Image of Bannner">
				<img src="{{ asset('images/front.jpg') }}" alt="Image of Bannner">
				<img src="{{ asset('images/background.jpeg') }}" alt="Image of Bannner">
			</div>
			<div class="container" itemprop="description">
				<h1>welcome to Chipata Trades Institute</h1>
				<h3>With our diverse skills training you can now find the skills for you...</h3>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		    </div>
        <div class="page-heading">
			<div class="container">
				<h2>popular courses</h2>
			</div>
		</div>
		<!-- Popular courses End -->
		<div class="learn-courses">
			<div class="container-fluid">
				<div class="courses">
					<div class="owl-one owl-carousel">
                    {% for program in programs %}
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap" itemprop="image"><img src="{{ asset('images/course-pic.jpg') }}" alt="courses picture"></div>
								<a href="course-listing.php" class="learn-desining-banner" itemprop="name">{{program.getProgramName}} >>></a>
							<div class="box-body" itemprop="description">
								<p> {{program.getDescription}}</p>
								<section itemprop="time">
									<p><span>Duration:</span> {{program.getProgramDuration}}</p>
								</section>
							</div>
						</div>
						{% else %}

					{% endfor %}

					</div>
				</div>
			</div>
		</div>
		<!-- Learn courses End -->
		
		<!-- Start of Events section -->
        <section class="page-heading">
			<div class="container">
				<h2>Upcomming events</h2>
			</div>
		</section>
		<section class="events-section" itemprop="event" itemscope itemtype=" http://schema.org/Event">
			<div class="container">
			{% for event in events %}
				<div class="event-wrap">
					<div class="img-wrap" itemprop="image">
						<img src="{{ asset('images/back.jpg') }}" alt="event images">
					</div>
					<div class="details">
						<a href=""><h5 itemprop="name"> </h5>{{event.getEventName}}</a>
						<p itemprop="description"> 
						{{event.getEventHost}}
						</p>
						<h5 itemprop="startDate"><i class="far fa-clock"></i>{{event.getDate}}</h5>
						<h5 itemprop="location"><i class="fas fa-map-marker-alt"></i>{{event.getEventLocation}}</h5>
					</div>
				</div>
				{% else %}

			{% endfor %}
			</div>
		</section>
		<!-- End of Events section -->
		<section class="page-heading">
			<div class="container">
				<h2>latest news</h2>
			</div>
		</section>
		<section class="latest-news">
			<div class="container-fluid" itemprop="event" itemscope itemtype=" http://schema.org/Event">
				<div class="owl-two owl-carousel">
				{% for news in news %}
					<div class="news-wrap" itemprop="event">
						<div class="news-img-wrap" itemprop="image">
							<img src="{{ asset('images/front.jpg') }}" alt="Latest News Images">
						</div>
						<div class="news-detail" itemprop="description">
							<a href=""><h1>{{news.getHeading}}</h1></a>
							<h2 itemprop="startDate">{{news.getDate}}</h2>

							<p>{{news.getContent}}</p>
						</div>
					</div>
					{% else %}

			    {% endfor %}
				</div>
			</div>
		</section>
		<!-- Latest News CLosed -->
		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at
				  <a href="tel:+260-977-370-130">
					<i class="fas fa-phone"></i> 
					   {% for about  in about %}
						{{about.getPhoneNumber}}
					   {% endfor %}
				  </a>
				</p>
			</div>
		</section>
		
		{{ include('pages/footer.html.twig') }}

{% endblock %}

           


	