{% extends 'base.html.twig' %}
{% block body %}
{{ include('pages/nav-links.html.twig') }}
<section class="latest-news">
			<div class="container" itemprop="event" itemscope itemtype=" http://schema.org/Event">
				<div class="owl-two owl-carousel">
					<div class="news-wrap" itemprop="event">
						<div class="news-img-wrap" itemprop="image">
							<img src="{{ asset('images/front.jpg') }}" alt="Latest News Images">
						</div>
						<div class="news-detail" itemprop="description">
							<a href="/news/{{news.getHeading}}"><h1>{{news.getHeading}}</h1></a>
							<h2 itemprop="startDate">{{news.getDate}}</h2>
							<p>{{news.getContent}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
{{ include('pages/footer.html.twig') }}
{% endblock %}