{% extends 'registration/base.html.twig' %}
{% block body %}
{{ include('admin/navigation.html.twig') }}
<div class="container">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Faculties</h6>
                        </div>
                         {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Fax</th>
                                            <th>Telephone</th>
                                            <th>Mission Statement</th>
                                            <th>Vision</th>
                                            <th>Motto</th>
                                            <th>History</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                      {% for about in about %}
                                    <tbody>
                                        <tr>
                                            <td>{{about.getId}}</td>
                                            <td>{{about.getEmailAddress}}</td>
                                            <td>{{about.getPhoneNumber}}</td>
                                            <td>{{about.getFaxNumber}}</td>
                                            <td>{{about.getTelephone}}</td>
                                            <td>{{about.getMissionStatement}}</td>
                                            <td>{{about.getVision}}</td>
                                            <td>{{about.getMotto}}</td>
                                            <td>{{about.getHistory}}</td>
                                            <td width="100">
                                                <a title="Delete" href="/admin/delete_about/{{about.getId}}" class="btn btn-danger"></a>
                                                <a title="Edit" href="/admin/update_about/{{about.getId}}" class="btn btn-success"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                      {% else %}

                                     {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>              
{% include'admin/footer.html.twig' %}
{% endblock %}